.coin_fall {
  animation: coin_fall 4s infinite;
  position: fixed;
}

.falling_coin {
  width: 100px;
  animation: infinite-spinning 2s infinite;
  margin: 0;
}

@keyframes coin_fall {
  0% {
    transform: translate(0px, -20%);
  }

  100% {
    transform: translate(0px, 1000%);
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(720deg);
  }
}
